.center50{
  width:50%;
  margin: auto;
}
li {
  width: 35%;
  margin: 20px;
  /*flex: 1*/
}
#employeeList{
  list-style-type:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#save , #delete{
  margin-top: 10px;
}
button, .areas{
  background-color: gray;
}

button.btn.btn-primary.active , .areas{
    background-color: green;
}
.btn-primary , .areas{
    color: #fff;
    background-color: #BABABA;
    border-color: #A7A7A7;
  }
  #save{
    background-color: green;
  }
  #delete{
    background-color: red;
  }
  .btn-primary:hover, .btn-primary:focus {
      color: #fff;
      background-color: #D1D1D1;
      border-color: #A7A7A7; /*set the color you want here*/
